/* @font-face {
    font-family: "iAWriterQuattro";
    src: url("overrides/fonts/iA Writer Quattro/") format('truetype');
  }
  
:root {
    --md-text-font: "iAWriterQuattro"; 
  } */

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */

/* @font-face {
    font-family: "JetBrains Mono";
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
} */
  
/* :root {
  --md-text-font: "JetBrains Mono"; 
} */